html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

html {
  overflow: hidden;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#__nuxt {
  height: 100%;
  display: block;
}
